/* iconos de redes sociales */
.social-links {
  display: flex;
  gap: 2rem;
}

.social-links a {
  text-decoration: none;
  margin: 0 1rem;
}

.social-links img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.social-links img:hover {
  transform: scale(1.1);
}